@use 'typography';

$background-light-pink: #FFFAFD;
$pink: #FF9EC6;
$dark-pink: #B46085;
$text: #68545C;
$text-inverse: #FFF;
$text-drop-shadow: drop-shadow(2px 4px #B46085) drop-shadow(2px -2px $dark-pink) drop-shadow(-1px 1px $dark-pink) drop-shadow(-1px -1px $dark-pink);
$max-width: 1280px;

body {
  background-color: $background-light-pink;
  margin: 0;
  padding: 0;
}

header {
  background: content-box $pink;
  color: $text-inverse;
  position: fixed;
  top: 0;
  width: 100vw;

  &::after {
    background: url(../../images/header-lace.png) 0 0 repeat-x;
    background-size: 50px;
    content: "";
    display: block;
    height: 37px;
    position: fixed;
    width: 100vw;
  }

  .header {
    &__inner {
      align-items: flex-end;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      gap: 40px;
      padding: 20px 40px;

      span {
        filter: $text-drop-shadow;
      }
    }

    &__logo {
      filter: drop-shadow(1px 1px $dark-pink) drop-shadow(1px -1px $dark-pink)
      drop-shadow(-1px 1px $dark-pink) drop-shadow(-1px -1px $dark-pink);

      &-wrap {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        gap: 20px;
      }
    }

    &__nav {
      align-items: center;
      display: flex;
      flex-flow: row nowrap;
      gap: 50px;
      
      a {
        font-family: "Cooper Black";
        font-size: 36px;
      }
    }

    &__title {
      font-family: "Leckerli One";
      font-size: 50px;
    }
  }
}

.container {
  margin-inline: auto;
  max-width: $max-width;
  padding-inline: 40px;
}

main {
  color: $text;
  padding-block-start: 108px; // header height
}

.lace {
  position: absolute;
  margin-inline: auto;
  max-width: $max-width;
  top: -120px;
  width: 100%;
  z-index: -1;
}

.page {
  margin-inline: auto;

  &__content p {
    margin-inline: auto;
    max-width: 780px;
  }

  &__title {
    color: $pink;
    filter: $text-drop-shadow;
    font-size: 72px;
    margin-block-end: 120px;
    margin-block-start: 40px;
    text-align: center;
  }
}