@use 'typography';

$pink: #FF9EC6;
$dark-pink: #B46085;
$text-inverse: #FFF;
$max-width: 1280px;

body {
  margin: 0;
  padding: 0;
}

header {
  background: content-box $pink;
  color: $text-inverse;

  &::after {
    background: url(../../images/header-lace.png) 0 0 repeat-x;
    background-size: 50px;
    content: "";
    display: block;
    height: 37px;
    position: fixed;
    width: 100vw;
  }

  .header {
    &__inner {
      align-items: flex-end;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      gap: 20px;
      padding: 20px;

      span {
        filter: drop-shadow(2px 4px #B46085) drop-shadow(2px -2px #B46085) drop-shadow(-1px 1px #B46085) drop-shadow(-1px -1px #B46085);
      }
    }

    &__logo {
      filter: drop-shadow(1px 1px $dark-pink) drop-shadow(1px -1px $dark-pink)
      drop-shadow(-1px 1px $dark-pink) drop-shadow(-1px -1px $dark-pink);

      &-wrap {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        gap: 20px;
      }
    }

    &__nav {
      align-items: center;
      display: flex;
      flex-flow: row nowrap;
      gap: 50px;
      
      a {
        font-family: "Cooper Black";
        font-size: 36px;
      }
    }

    &__title {
      font-family: "Leckerli One";
      font-size: 50px;
    }
  }
}

.container {
  margin-inline: auto;
  max-width: $max-width;
}